<div class="container">
  <a [routerLink]="['/products']"><- Back to search</a>
  <div class="row mt-3" *ngIf="product$ | async as product">
    <div class="col-6">
      <div class="product-image-container">
        <img class="product-image border rounded" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwentytwowords.com%2F37-random-but-totally-useful-amazon-products-we-use-all-of-the-time%2F&psig=AOvVaw0lpAGbp07LaV2nBo452c7J&ust=1742488043205000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCOD8mvnHlowDFQAAAAAdAAAAABAJ">
      </div>
    </div>
    <div class="col">
      <h2>{{ product.name }}</h2>
      <hr>
      <div class="d-flex justify-content-between align-items-center">
        <h4>{{ price$ | async | currency }} {{ discount$ | async | discountAmount}}</h4>
        <div class="input-group mb-3 add-form">
          <input
            type="number"
            class="form-control"
            [formControl]="quantityInput"
            [class.is-invalid]="quantityInput.invalid">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="quantityInput.invalid"
            (click)="add(product)">Add</button>
          <div class="invalid-feedback">
            Min 0
          </div>
        </div>
      </div>
    </div>
  </div>
</div>